body {
    background-color: white;
    padding: 0;
    margin: 0;
}

ul {
    /*text-align: right;*/
    list-style-type: none;
    overflow: hidden;
}
li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: black;
    padding: 8px 14px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
.title{
    float: left;
    padding: 0;
    font-size: 140%;
    font-weight: bold;
}
.nav{
    float: right;
}
