.header{
    font-weight: bold;
}

.info{

}
body{
    margin: 0;
}
iframe{
    width: 60vw;
    height: 90vh;
    margin: 0;
    display: block;
    border: none;
    background: #000;
    text-align: center;
    padding: 0;

}
