<!DOCTYPE html>
<html lang ="en">
<head>
    <title>{{ page.title }}</title>
    <link href="/css/default.css" type="text/css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
</head>

<body>
    <div class="header">
        <ul>
            <li class="title">Carlos Santillana
            <li class="nav"><a href="/html/contact.html">Contact</a>
            <li class="nav"><a href="/html/resume.html">Resume</a>
            <li class="nav"><a href="/html/aboutMe.html">About Me</a>
            <li class="nav"><a href="/index.html">Home</a>
        </ul>
    </div>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>
