<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link href="/css/default.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <ul>
            <li class="title">Carlos Santillana
            <li class="nav"><a href="/html/contact.html">Contact</a>
            <li class="nav"><a href="/html/resume.html">Resume</a>
            <li class="nav"><a href="/html/aboutMe.html">About Me</a>
            <li class="nav"><a href="/index.html">Home</a>



        </ul>
    </div>
    <div class="container">
        {{ content }}
    </div>
</body>
</html>
